<% layout("/layouts/boilerplate.ejs") %>

<body class="err-body">
    <div class="alert alert-danger" role="alert">
        <p>Error : <%= status %></p>   
        <p> -> <%= message %></p>             
      </div>    
</body>
 